
<div ng-controller="dashboard">
    <div class="col-lg-3">
        <div class="panel panel-default eden-panel">
            <!-- Default panel contents -->
            <div class="panel-heading">用户情况</div>
            <!--<div class="panel-body">
                <p>...</p>
            </div>-->
            <!-- Table -->
            <table class="table info-table">
                <tr><td><span>总用户：</span>8888</td></tr>
                <tr><td><span>本月新增：</span>1024</td></tr>
                <tr><td><span>本周新增：</span>256</td></tr>
                <tr><td><span>IOS：</span>5888</td></tr>
                <tr><td><span>Android：</span>3000</td></tr>
            </table>
        </div>
        <div class="panel panel-default eden-panel">
            <!-- Default panel contents -->
            <div class="panel-heading">系统情况</div>
            <!--<div class="panel-body">
                <p>...</p>
            </div>-->
            <!-- Table -->
            <table class="table info-table">
                <tr><td><span>最后更新时间：</span><b style="color:green">2016-05-29 10:00</b></td></tr>
                <tr><td><span>系统版本：</span>1.0</td></tr>
                <tr><td><span>缓存：</span><b style="color:green">正常</b></td></tr>
                <tr><td><span>接口：</span><b style="color:green">正常</b></td></tr>
            </table>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="dashboard-title">系统活跃情况</div>
        <div id="chartnewuser" style="height:300px; border:1px solid #ccc"></div>
        <div class="dashboard-title">每日新增用户</div>
        <div id="chartvip" style="height:300px; border:1px solid #ccc"></div>
    </div>
    <!--<div class="curd-list-top" id="curd-list-top">
        <div class="curd-list-title">
            <i class="icon-heart"></i><span>仪表盘</span>
        </div>
    </div>-->

</div>