<div class="panel">
    <div class="panel-body">
        <input type="text" name="Id" ng-model="form.Id" style="display:none;" />
        <div class="form-group">
            <label>时间：</label><span>{{form.EventTimeString}}</span>
        </div>
        <div class="form-group">
            <label>IP：</label><span>{{form.IpAddress}}</span>
        </div>
        <div class="form-group">
            <label>Url：</label><span>{{form.RequestUrl}}</span>
        </div>
        <div class="form-group">
            <label>详情：</label><span>{{form.Detail}}</span>
        </div>
        
    </div>
</div>